
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #444;
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  color: #555;
  margin: 10px; 
}

article {
  background-color: #eee;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  color: #333;
  padding: 5px;
  margin: 10px;
}

article::after {
  content: "";
  display: table;
  clear: both;
}

figure {
  float: left;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  padding: 10px 10px 30px 10px;
}

figure img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: auto;
    z-index: 5;
}

figure figcaption {
    text-align: center;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}