name: Deploy Responsive Framework

on:
  push:
    branches:
      - main

jobs:
  validate:
    uses: ./.github/workflows/eoa.yml

  deploy:
    needs: validate
    runs-on: ubuntu-latest

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: true
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '18'
      - name: Create html gallery
        run: npm run gallery
        working-directory: ./emailonacid
      - name: Publish html gallery for GitHub Pages
        uses: actions/upload-pages-artifact@v4
        with: 
          path: output
      - name: Deploy html gallery to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

