name: Validate Pull Request

on:
  pull_request:

jobs:
  validate:
    uses: ./.github/workflows/validate.yml
    secrets:
      EOA_ACCOUNT_PASSWORD: ${{ secrets.EOA_ACCOUNT_PASSWORD }}
    with:
      EOA_API_KEY: ${{ vars.EOA_API_KEY }}

  diff:
    needs: validate
    name: Create screenshot diffs
    runs-on: ubuntu-latest
    steps:
      - name: Compare screenshots
        run: npm run diff
        working-directory: ./emailonacid

      - name: Setup gh actions artifact client
        uses: lhotari/gh-actions-artifact-client@v2

      - name: Upload screenshot artifacts
        run: |
          find output/diff -type f -name "*.png" | while read -r file; do
            name=$(basename "$file")
            echo "Uploading $name, file: $file"
            zip - "$file" | gh-actions-artifact-client.js upload "${name}" --retentionDays=7
          done
          