name: Validate Pull Request

on:
  pull_request:

jobs:
  validate:
    uses: ./.github/workflows/validate.yml
    secrets:
      EOA_ACCOUNT_PASSWORD: ${{ secrets.EOA_ACCOUNT_PASSWORD }}
    with:
      EOA_API_KEY: ${{ vars.EOA_API_KEY }}
      mode: 'artifact'

  diff:
    needs: validate
    name: Create screenshot diffs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: List files in the repository (1)
        run: ls ${{ github.workspace }}

      - name: Screenshot baseline
        run: cp -r output baseline

      - name: List files in the repository (2)
        run: ls ${{ github.workspace }}

      - name: Download screenshot artifacts
        uses: actions/download-artifact@v4
        with:
          name: screenshots
          path: output

      - name: List files in the repository (3)
        run: ls ${{ github.workspace }}

      - name: Install dependencies
        run: npm ci
        working-directory: ./emailonacid

      - name: Compare screenshots
        run: npm run diff
        working-directory: ./emailonacid

      - name: List files in the repository (4)
        run: ls ${{ github.workspace }}

      - name: Setup gh actions artifact client
        uses: lhotari/gh-actions-artifact-client@v2

      - name: Upload screenshot artifacts
        run: |
          find output/diff -type f -name "*.png" | while read -r file; do
            name=$(basename "$file")
            echo "Uploading $name, file: $file"
            zip - "$file" | gh-actions-artifact-client.js upload "${name}" --retentionDays=7
          done
