name: Validate Pull Request

on:
  pull_request:

jobs:
  validate:
    uses: ./.github/workflows/eoa.yml
    secrets:
      EOA_ACCOUNT_PASSWORD: ${{ secrets.EOA_ACCOUNT_PASSWORD }}
    with:
      EOA_API_KEY: ${{ vars.EOA_API_KEY }}
